.header {
    position: absolute;
    top: 0;
    width: calc(100% - 120px);
    z-index: 1000;
    /*padding-inline: 60px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.header .right {
    display: flex;
    color: var(--white);

    & > li {
        padding-block: 32px;
        padding-inline: 24px;
    }
    & > li > a {
        cursor: pointer;
    }
    & > li:last-child {
        background-color: var(--purple);
    }
}

/* main */

section.banner {
    padding-top: 160px;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;

    background-image: linear-gradient(to right, var(--black) 40%, #1e1e28 40%);
}

section.banner .container {
    display: flex;

    justify-content: center;

    & > img {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        max-width: calc(750 / 1440 * 100vw);
        height: auto;
        width: 100%;
    }
    & > .right {
        position: absolute;
        z-index: 1;
        right: 2vw;
        top: 50%;
        transform: translate(0, -50%);
        max-width: calc(740 / 1440 * 100vw);
        & > p {
            color: var(--white);
        }
        & > .text {
            color: var(--white);
        }
        & > .text > span {
            color: #8a8a90;
        }
    }
}
